$Btn : rgb(121, 147, 234)
$textColor: white; 


header{
    background: lightblue;
    display: flex;
    justify-content: center;
    color: $textColor
    button{
        background: $Btn;
        &:hover{
         background: pink; 
        }
    }
}   